@model IEnumerable<ProjectManager.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (ViewBag.IsAuth)
    {
    <p>@Html.ActionLink("Create course", "Create")</p>
    <p>@Html.ActionLink("Create project", "Create", "Project")</p>
}
    </p>
    <table class="table">
        <tr>

            @foreach (var course in Model)
            {
                <td>
                    @Html.ActionLink(course.Name, "Details", "Course", new { id = course.CourseID }, new { @class = "btn btn-primary btn-lg" })
                </td>
            }

        </tr>



    </table>
